.nav{
    width: 100%;
    /* background-color: rgb(73, 73, 226); */
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
  top: 0;
  z-index: 1000; /* Adjust as needed */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}
.nav.scrolled {
    background-color: #333333; /* Adjust as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow when scrolled */
  }
.themePalette{
    margin-left: 20px;
}
