.card{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.row{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 0;
    padding: 0;
    height: 40px;
}
.img{
    width: 20px;
    margin-right: 10px;
}
.rowHead{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-bottom: 10px;
}
.imgHead{
    width: 30px;
    margin-left: 10px;
}